
section{
    margin: 1em 0;
}

#page{
    position: relative;
    width: 60%;
    margin: 0 auto;
}

#synopsis{
    float: left;
    width: 58%;
    margin-top: 0;
}

#purchase{
    float: right;
    width: 41%;
    height: 30em;
    margin-top: 0;
}

#purchase+section{
    clear: both;
}
/* ! Box Sizing */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
