/* -------------------------------------------------------------------------------- */
/* ! base */
/* -------------------------------------------------------------------------------- */
html, body{
    font-family: Heebo;
}
body{
    background-color: #333;
    /* font-family: sans-serif; */
}

section{
    background-color: whitesmoke;
    border: 1px solid gainsboro;
    /* font: small sans-serif; */
    text-align: center;
    color: #333;
}

h1{
    font-weight: bold;
}

#book-title{
    height: 5em;
}

#synopsis{
    height: 30em;
}

#purchase{
    height: 20em;
}

#resources{
    height: 50em;
}

#errata{
    height: 40em;
}

.menu{
    position: absolute;
    margin: 15px;
    top: 0;
    right: 0;
    width: 100px;
    background-color: gainsboro;
    padding: 0.5em;
    color: steelblue;
    cursor: crosshair;
    text-align: center;
}

nav{
    height: 10em;
}

ul#nav{
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

ul#nav li{
    padding: 16px;
    /* list-style-type: none; */
    border-bottom: 1px solid white;
    display: block;
}

ul#nav a{
    color: #fff;
}
/* -------------------------------------------------------------------------------- */
/* ! Mobile */
/* -------------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .header__icon{
      display: block;
  }
.header__menu{
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: calc(100% - 130px);
      background: #fff;
      transform: translateX(-100%);
      transition: all 1s linear;
      z-index: 999;
  }
  .header__menu--open{
        transform: translateX(0%);
    }
  ul#nav li{
      width: 90%;
      padding: 20px 0;
  }
  #nav li a{
      width: 100%;
      display: block;
      color: #333;
  }
}

/* -------------------------------------------------------------------------------- */
/* ! medium */
/* -------------------------------------------------------------------------------- */
@media (min-width: 768px) {
    #page{
        margin: 155px auto 0 auto;
    }
    .menu{
        display: none;
    }
    nav{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100px;
        background: whitesmoke;
        margin: 0;
        padding: 18px;
        border: 4px solid #333;
        display: flex;
        align-items: center;
    }
    ul#nav{
        list-style-type: none;
        padding: 0;
    }
    ul#nav li{
        display: inline-block;
        border: 0;
    }
    ul#nav li a{padding: 10px;
        display: inline-block;
        color: #333;
    }
}
/* -------------------------------------------------------------------------------- */
/* ! large */
/* -------------------------------------------------------------------------------- */

@media (min-width: 992px) {
    section{
        border: 4px solid #333;
    }

    /* nav > h1{
        float: left;
    } */
    #page{
        position: relative;
        width: 90%;
        /* margin: 0 auto; */
        margin: 100px auto 0 auto;
    }
    nav{
        width: inherit;
    }
    #synopsis{
        float: left;
        width: 60%;
        margin-top: 0;
    }

    #purchase{
        float: right;
        width: 40%;
        height: 30em;
        margin-top: 0;
    }

    #purchase+section{
        clear: both;
    }
    /* ! Box Sizing */
    *,
    *:before,
    *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
}
